<svg id="get-started-gap" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
  <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
</svg>
<section class="get-started" id="get-started">
  <div class="container">
    <div class="card">
      <div class="card-header with-border">
        <h2>Get started</h2>
      </div>
      <div class="card-main">
          <h3>"Hello world" snippet</h3>
<pre><code class="language-js"><span class="hljs-keyword">var</span> Toa = <span class="hljs-built_in">require</span>(<span class="hljs-string">'toa'</span>);
<span class="hljs-keyword">var</span> app = Toa(<span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">()</span> </span>{
  <span class="hljs-keyword">this</span>.body = <span class="hljs-string">'Hello World!\n-- toa'</span>;
});
app.listen(<span class="hljs-number">3100</span>, <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">()</span> </span>{
  <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'\n'</span>, <span class="hljs-string">'listening on port'</span>, <span class="hljs-number">3100</span>, <span class="hljs-string">'in dev env'</span>)
});
</code></pre>
        <h3>Install Toa & startup Toa</h3>
        <div class="app-frame terminal-window">
          <header>
            <div class="button red"></div><div class="button yellow"></div><div class="button green"></div>
            <span class="title">Terminal</span>
          </header>
          <section class="frame-main terminal-main">
            <div class="history"></div>
            $&nbsp;<span class="prompt"></span>
            <span class="typed-cursor"></span>
          </section>
        </div>
        <div class="app-frame-data terminal-data run-output">
          <br>&nbsp;
          <span>&nbsp;&nbsp;listening on port <span class="orange">3100</span> in <span class="green">dev env</span></span>
          <br>&nbsp;
        </div>
      </div>
    </div>
  </div>
</section>
