<section class="resources" id="resources">
  <div class="container">
    <div class="card">
      <div class="card-header with-border">
        <h2>Resources</h2>
      </div>
      <div class="card-main">
        <p class="module-desc">与 Koa 一样， Toa 也没有绑定过多的功能，而仅仅提供了一个轻量优雅的函数库，和强大的扩展能力。<br>
        使用者可以根据自己的需求选择独立的功能模块或中间件，或自己实现相关功能模块。<br>
        以下是 <strong>Toajs</strong> 提供的基础性的功能模块。它们已能满足大多数的应用需求。</p>
        <div class="row modules-list">
          <div class="col-xs-6">
            <a href="https://github.com/toajs/toa-ejs" target="_blank" class="module">
              <div class="module-icon icon-ejs">Ejs</div>
              Ejs render module for toa.
            </a>
          </div>
          <div class="col-xs-6">
            <a href="https://github.com/toajs/toa-mejs" target="_blank" class="module">
              <div class="module-icon icon-mejs">Mejs</div>
              Mejs render module for toa.
            </a>
          </div>
          <div class="col-xs-6">
            <a href="https://github.com/toajs/toa-i18n" target="_blank" class="module">
              <div class="module-icon icon-i18n">I18n</div>
              I18n middleware for toa.
            </a>
          </div>
          <div class="col-xs-6">
            <a href="https://github.com/toajs/toa-body" target="_blank" class="module">
              <div class="module-icon icon-body">Body</div>
              Request body parser for toa.
            </a>
          </div>
          <div class="col-xs-6">
            <a href="https://github.com/toajs/toa-token" target="_blank" class="module">
              <div class="module-icon icon-token">Token</div>
              Token based authentication for toa.
            </a>
          </div>
          <div class="col-xs-6">
            <a href="https://github.com/toajs/toa-router" target="_blank" class="module">
              <div class="module-icon icon-router">Router</div>
              A router for toa.
            </a>
          </div>
          <div class="col-xs-6">
            <a href="https://github.com/toajs/toa-static" target="_blank" class="module">
              <div class="module-icon icon-static">Static</div>
              A static server module for toa.
            </a>
          </div>
          <div class="col-xs-6">
            <a href="https://github.com/toajs/toa-favicon" target="_blank" class="module">
              <div class="module-icon icon-favicon">Favi..</div>
              Favicon middleware for toa.
            </a>
          </div>
          <div class="col-xs-6">
            <a href="https://github.com/toajs/toa-session" target="_blank" class="module">
              <div class="module-icon icon-session">Sess..</div>
              Session middleware for toa.
            </a>
          </div>
          <div class="col-xs-6">
            <a href="https://github.com/toajs/toa-compress" target="_blank" class="module">
              <div class="module-icon icon-compress">Comp..</div>
              Compress responses middleware for toa.
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
