<section class="navbar navbar-default site-header">
  <div class="container">
    <div class="navbar-header">
      <div class="clearfix">
        <ul class="nav navbar-nav">
          <li class="nav-handler">
            <a href="#introduction" title="">Introduction</a>
          </li>
          <li class="nav-handler">
            <a href="#get-started" title="">Get started</a>
          </li>
          <li class="nav-handler dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Documentation <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#doc-application">Application</a></li>
              <li><a href="#doc-context">Context</a></li>
              <li><a href="#doc-request">Resuest</a></li>
              <li><a href="#doc-response">Response</a></li>
            </ul>
          </li>
          <li class="nav-handler">
            <a href="#resources" title="">Resources</a>
          </li>
          <li class="nav-handler">
            <a href="#thanks" title="">Thanks</a>
          </li>
        </ul>
        <ul class="nav navbar-nav more-handlers pull-right">
          <li class="nav-handler with-icon dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="mdi-navigation-more-vert"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="cant-click">Follow author</a></li>
            <li class="divider"></li>
            <li><a href="https://github.com/zensh" target="_blank">On Github</a></li>
            <li><a href="http://weibo.com/zensh" target="_blank">On Weibo</a></li>
            <li><a href="http://www.zhihu.com/people/zensh" target="_blank">On Zhihu</a></li>
          </ul>
        </li>
      </div>
    </div>
    <div class="github-star-handler" title="Star on Github">
      <a href="https://github.com/toajs/toa" target="_blank" class="btn btn-fab btn-info">
        <i class="mdi-action-grade"></i>
      </a>
    </div>
  </div>
</section>
